body {
  font-family: 'Silkscreen', cursive;
  background-color: rgba(210, 186, 195, 0.892);
  background-image: url(https://wyv.art/css/images/5-2.png);
  background-blend-mode: overlay;
  background-size: 10%;
  width: 100%;
  margin: 0;
}

.central_container{
  width: 80%;
  height: 40vh;
  margin: 20vh auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.homepage-item{
  margin: 10px;
  text-decoration: none;
  color: white;
}

.homepage-item:hover{
  color: rgba(59, 48, 220, 0.661)
}

#homepage-title{
  font-size: 10vh;
  color: rgba(59, 48, 220, 0.661);
  text-align: center;
}

#title-container{
  height: 30vh;
  width: 100%;
}


#homepage-welcome{
  font-family:'Cairo', sans-serif;
  font-size: 50px;
}

#homepage-links{
  display:flex;
  flex-direction: column;
  align-items: center;
  padding: 5vh;
  position: fixed;
  top: 50vh;
}

#homepage-links h3{
  margin: 30px;
}

@media only screen and (max-width: 1000px) {

  #homepage-title{
    font-size: 8vh;
  }
}

@media only screen and (max-width: 1000px) {

  #homepage-title{
    font-size: 6vh;
  }
}
@media only screen and (max-width: 650px) {

  #homepage-title{
    font-size: 6vh;
  }
}

.flash {
  padding: 16px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  border-radius: 4px;
  margin: 8px;
}

.flash-success {
  border: 2px solid #1EDD88;
}
