body {
  font-family: 'Silkscreen', cursive;
  background-color: rgba(210, 186, 195, 0.892);
  background-image: url(https://wyv.art/css/images/5-2.png);
  background-blend-mode: overlay;
  background-size: 10%;
  width: 100%;
  margin: 0;
}

.central_container{
  width: 80%;
  height: 40vh;
  margin: 20vh auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.homepage-item{
  margin: 10px;
  text-decoration: none;
  color: white;
}

.homepage-item:hover{
  color: rgba(59, 48, 220, 0.661)
}

#homepage-title{
  font-size: 10vh;
  color: rgba(59, 48, 220, 0.661);
}


#homepage-welcome{
  font-family:'Cairo', sans-serif;
  font-size: 50px;
}
