.central_container{
  width: 50%;
  height: 40vh;
  margin: 20vh auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.homepage-item{
  margin: 10px;
}

#homepage-title{
  font-size: 70px;
  color: rgba(59, 48, 220, 0.661);
}


#homepage-welcome{
  font-family:'Cairo', sans-serif;
  font-size: 50px;
}
