@import "pages/home";
@import "pages/navbar";
@import "pages/blogindex";
@import "pages/newblogpost";
@import "pages/actiontext";


.container{
  width: 90vh;
  height: 60vh;
  margin: 10vh auto;
  padding: 10vh;
}
