@import "pages/home";
@import "pages/navbar";
@import "pages/blogindex";
@import "pages/newblogpost";
@import "pages/actiontext";
@import "pages/candidatesindex";


.container{
  width: 90vh;
  height: 60vh;
  margin: 10vh auto;
  padding: 10vh;
}

.header{
  font-size: 400%;
  color: rgba(59, 48, 220, 0.661);
}
