<h1>new application</h1>
<%= link_to "Home", root_path %>

<%# Logo
Title - Season
Deadline


Inputs:

First name

Last name

Birth date

Gender/Pronouns (can be blank)

Email

Phone

Nationality (can be blank)

Place of residency

Mailing address post?


--------------PROJECT

specify project type (art, philosophy other etc)

short project description

hourse you intend to spend on project

project budget

portfolio, work samples links

website link

addittional comments
%>
