<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" style="background-color: rgba(184, 184, 184, 0.9);">
      <div class="modal-header">
        <h1 class="modal-title" id="exampleModalLabel" style="color: white">Your application was successfully submitted. </h1>
      </div>
      <div class="modal-body">
        <h4 style="color: white">
          We will try and get back to you as soon as possible. Please check your email for confirmation.
        </h4>
        <h1>
          Thank you!
        </h1>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
