<div id="about_container">
  <h1>about page</h1>
  <%= link_to "Home", root_path %>
  <p>
    The Hitchhiker's Guide to the Galaxy was a concept for a science-fiction comedy radio series pitched by Adams and radio producer Simon Brett to BBC Radio 4 in 1977. Adams came up with an outline for a pilot episode, as well as a few other stories (reprinted in Neil Gaiman's book Don't Panic: The Official Hitchhiker's Guide to the Galaxy Companion) that could be used in the series.


Towel Day 2005 in Innsbruck, Austria, where Adams first had the idea of The Hitchhiker's Guide. In the novels, a towel is the most useful thing a space traveller can have. The annual Towel Day (25 May) was first celebrated in 2001, two weeks after Adams's death.
According to Adams, the idea for the title occurred to him while he lay drunk in a field in Innsbruck, Austria, gazing at the stars. He was carrying a copy of the Hitch-hiker's Guide to Europe, and it occurred to him that "somebody ought to write a Hitchhiker's Guide to the Galaxy".[28]

Despite the original outline, Adams was said to make up the stories as he wrote. He turned to John Lloyd for help with the final two episodes of the first series. Lloyd contributed bits from an unpublished science fiction book of his own, called GiGax.[29] Very little of Lloyd's material survived in later adaptations of Hitchhiker's, such as the novels and the TV series. The TV series was based on the first six radio episodes, and sections contributed by Lloyd were largely re-written.

BBC Radio 4 broadcast the first radio series weekly in the UK starting 8 March 1978, lasting until April.[30] The series was distributed in the United States by National Public Radio. Following the success of the first series, another episode was recorded and broadcast, which was commonly known as the Christmas Episode. A second series of five episodes was broadcast one per night, during the week of 21–25 January 1980.

While working on the radio series (and with simultaneous projects such as The Pirate Planet) Adams developed problems keeping to writing deadlines that got worse as he published novels. Adams was never a prolific writer and usually had to be forced by others to do any writing. This included being locked in a hotel suite with his editor for three weeks to ensure that So Long, and Thanks for All the Fish was completed.[31] He was quoted as saying, "I love deadlines. I love the whooshing noise they make as they go by."[32] Despite the difficulty with deadlines, Adams wrote five novels in the series, published in 1979, 1980, 1982, 1984, and 1992.

The books formed the basis for other adaptations, such as three-part comic book adaptations for each of the first three books, an interactive text-adventure computer game, and a photo-illustrated edition, published in 1994. This latter edition featured a 42 Puzzle designed by Adams, which was later incorporated into paperback covers of the first four Hitchhiker's novels (the paperback for the fifth re-used the artwork from the hardback edition).[33]

In 1980, Adams began attempts to turn the first Hitchhiker's novel into a film, making several trips to Los Angeles, and working with Hollywood studios and potential producers. The next year, the radio series became the basis for a BBC television mini-series[34] broadcast in six parts. When he died in 2001 in California, he had been trying again to get the film project started with Disney, which had bought the rights in 1998. The screenplay got a posthumous re-write by Karey Kirkpatrick, and the resulting film was released in 2005.


  </p>
</div>
