<div id="about_container">
  <h1 class="header">about page</h1>
  <div id="about_info">
    <p>
      The Hitchhiker's Guide to the Galaxy was a concept for a science-fiction comedy radio series pitched by Adams and radio producer Simon Brett to BBC Radio 4 in 1977. Adams came up with an outline for a pilot episode, as well as a few other stories (reprinted in Neil Gaiman's book Don't Panic: The Official Hitchhiker's Guide to the Galaxy Companion) that could be used in the series.
    </p>
    <p>
      The Hitchhiker's Guide to the Galaxy was a concept for a science-fiction comedy radio series pitched by Adams and radio producer Simon Brett to BBC Radio 4 in 1977. Adams came up with an outline for a pilot episode, as well as a few other stories (reprinted in Neil Gaiman's book Don't Panic: The Official Hitchhiker's Guide to the Galaxy Companion) that could be used in the series.
    </p>
    <p>
      The Hitchhiker's Guide to the Galaxy was a concept for a science-fiction comedy radio series pitched by Adams and radio producer Simon Brett to BBC Radio 4 in 1977. Adams came up with an outline for a pilot episode, as well as a few other stories (reprinted in Neil Gaiman's book Don't Panic: The Official Hitchhiker's Guide to the Galaxy Companion) that could be used in the series.
    </p>
    <p>
      The Hitchhiker's Guide to the Galaxy was a concept for a science-fiction comedy radio series pitched by Adams and radio producer Simon Brett to BBC Radio 4 in 1977. Adams came up with an outline for a pilot episode, as well as a few other stories (reprinted in Neil Gaiman's book Don't Panic: The Official Hitchhiker's Guide to the Galaxy Companion) that could be used in the series.
    </p>
    <p>
      The Hitchhiker's Guide to the Galaxy was a concept for a science-fiction comedy radio series pitched by Adams and radio producer Simon Brett to BBC Radio 4 in 1977. Adams came up with an outline for a pilot episode, as well as a few other stories (reprinted in Neil Gaiman's book Don't Panic: The Official Hitchhiker's Guide to the Galaxy Companion) that could be used in the series.
    </p>
  </div>

  <div id="about-lower-buttons">
    <%= link_to "Home", root_path, class: "btn btn-light"%>
  </div>



</div>
