<div class="central_container">

  <h1 id="homepage-title">Wyvern Art Fund</h1>

  <h3 class="homepage-item"><%= link_to "About", about_path %></h3>
  <h3 class="homepage-item"><%= link_to "Blog", blogposts_path %></h3>
  <h3 class="homepage-item"><%= link_to "Application Form", new_candidate_path %></h3>
  <h3 class="homepage-item"><%= link_to "Admin dashboard", candidates_path %></h3>
</div>
